@model IEnumerable<WebASP_App.Models.User>
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="Create">Добавить пользователя</a>
<table class="table">
    <tr><td>email</td><td>Id</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Email</td><td>@item.Id</td></tr>
    }
</table>